<template>
  <div>
    <v-row justify="center">
      <v-col cols="10">
        <v-row align="center" v-if="!searching">
          <span class="titleText ml-3 mb-2">Create from template</span>

          <v-text-field
            full-width
            dense
            class="ml-4 mt-6 hidden-sm-and-down"
            label="Search"
            prepend-inner-icon="mdi-magnify"
            outlined
            color="grey darken-2"
            v-model="search"
          ></v-text-field>
          <v-spacer class="hidden-md-and-up"></v-spacer>
          <v-btn class="mr-3 hidden-md-and-up" icon @click="searching = true">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </v-row>
        <v-text-field
          :autofocus="searching"
          @blur="searching = false"
          v-else
          dense
          label="Search"
          prepend-inner-icon="mdi-magnify"
          outlined
          color="grey darken-2"
          v-model="search"
        ></v-text-field>
        <v-divider class="mb-1"></v-divider>
        <List @clicked="openTemp" type="template" :items="filteredTemplates"></List>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" max-width="80%">
      <!-- <v-card color="#e8eaf2">
      <v-container>-->
      <v-stepper v-model="step" style="background-color: #e8eaf2">
        <v-stepper-header>
          <v-stepper-step color="#F9A826" :complete="step > 1" step="1">Template Info</v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step color="#F9A826" step="2">Create From Template</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <p class="dialog-title ma-0">{{temp.title}}</p>
            <div
              class="caption ma-0"
            >Created by {{temp.author}} {{temp.version == '1.0.0' ? ` on ${temp.date}` : ` - Last updated: ${temp.date}`}} (Version: {{temp.version}})</div>
            <v-divider class="my-2"></v-divider>

            <div style="margin: 0px 0px 30px 0px">{{temp.description ? temp.description : 'Template has no description.' }}</div>

            <v-row justify="end" class="ma-0 pa-0">
              <v-btn class="error mr-2" @click="dialog = false">Cancel</v-btn>
              <v-btn class="success" color="primary" @click="step = 2">Continue</v-btn>
            </v-row>
          </v-stepper-content>

          <v-stepper-content step="2">
            <p class="dialog-title ma-0">Create Test</p>
            <v-divider class="my-2"></v-divider>
            <FormTestDescription style="margin: 0px 0px 20px 0px" :test="temp" ref="form" :lock="true" />
            <v-row justify="end" class="ma-0 pa-0">
              <v-btn @click="step = 1" class="warning" style="position: absolute; left: 24px">Go Back</v-btn>

              <v-btn class="error mr-2" @click="dialog = false">Cancel</v-btn>
              <v-btn class="success" color="primary" @click="validate()">Create</v-btn>
            </v-row>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
      <!-- <p class="dialog-title ma-2 pa-2">Create Test</p>
          <v-divider></v-divider>
          <FormTestDescription :test="temp" ref="form" :lock="true" />
          <v-card-actions class="ma-0 pa-2">
            <v-spacer></v-spacer>
            <v-btn color="black" text @click="dialog = false">Cancel</v-btn>
            <v-btn color="#F9A826" @click="validate()">Create</v-btn>
      </v-card-actions>-->
      <!-- </v-container>
      </v-card>-->
    </v-dialog>
  </div>
</template>

<script>
import List from "@/components/atoms/ListComponent";
import FormTestDescription from "@/components/atoms/FormTestDescription";

export default {
  components: {
    List,
    FormTestDescription,
  },
  data: () => ({
    temp: {
      title: "",
      description: "",
      type: "",
      idTemplate: "",
    },
    dialog: false,
    searching: false,
    search: "",
    testID: null,
    object: {},
    step: 1,
  }),
  methods: {
    openTemp(item) {
      this.temp = Object.assign({}, item);
      this.dialog = true;
    },
    async submit() {
      await this.testAssembly(); // build Test
      let d = new Date();
      let object = this.object;
      let successful = true;
      //Send db
      await this.$store
        .dispatch("createTest", {
          collection: "test",
          data: Object.assign(object, { date: d.toDateString() }),
        })
        .then((id) => {
          this.testID = id;
          this.$store
            .dispatch("createAnswers", {
              data: {
                test: {
                  id: id,
                  title: object.title,
                  type: object.type,
                },
                answers: [],
                answersSheet: object.answersSheet,
                options: object.options,
              },
            })
            .then((idAnswers) => {
              this.$store.dispatch("setAnswerID", {
                docId: id,
                data: idAnswers,
              });
              this.$store
                .dispatch("createReport", {
                  data: {
                    test: {
                      id: id,
                      title: object.title,
                      type: object.type,
                      answers: idAnswers,
                    },
                    reports: [],
                  },
                })
                .then((idReport) => {
                  this.$store.dispatch("setReportID", {
                    docId: id,
                    data: idReport,
                  });
                  this.$store
                    .dispatch("createCooperators", {
                      data: {
                        test: {
                          id: id,
                          title: object.title,
                          type: object.type,
                        },
                        cooperators: [],
                      },
                    })
                    .then((idCooperators) => {
                      this.$store.dispatch("setCooperatorsID", {
                        docId: id,
                        data: idCooperators,
                      });
                      this.$store.dispatch("pushMyTest", {
                        docId: this.user.uid,
                        element: {
                          id: id,
                          title: object.title,
                          type: object.type,
                          reports: idReport,
                          answers: idAnswers,
                          cooperators: idCooperators,
                          accessLevel: 0,
                          date: d.toDateString(),
                          nCoops: 0
                        },
                        param: "myTests",
                      });
                    });
                });
            });
        })
        .catch((err) => {
          console.error("Error", err);
          successful = false;
        });

      if (successful) this.sendManager(this.testID);
    },
    testAssembly() {
      //Make object test
      //Assigning admin info

      if (this.id === null || this.id === undefined) {
        this.object = Object.assign(this.object, {
          admin: {
            id: this.user.uid,
            email: this.user.email,
          },
        });
      }

      //Assigning test info
      this.object = Object.assign(this.object, {
        title: this.temp.title,
        description: this.temp.description,
        type: this.temp.type,
      });
      this.object = Object.assign(this.object, {
        date: new Date().toDateString(),
      });

      //assigning tasks/heuristics
      let selectTemplate = this.storeTemplates.find(
        (t) => t.id == this.temp.id
      );
      this.object = Object.assign(this.object, selectTemplate.body);
    },
    validate() {
      if (this.$refs.form.valida()) {
        this.submit();
      }
    },
    sendManager(id) {
      this.$router.push(`/managerview/${id}`).catch(() => {});
    },
  },
  computed: {
    storeTemplates() {
      return this.$store.getters.templates || [];
    },
    templates() {
      let array = [];
      if (this.storeTemplates !== null) {
        array = this.storeTemplates.map((temp) => {
          let obj = {
            id: temp.id,
            title: temp.header.title || "No Title",
            date: temp.header.date,
            type: temp.body.type,
            author: temp.header.author,
            version: temp.header.version,
            description: temp.header.description,
          };
          return obj;
        });
      }

      return array;
    },
    filteredTemplates() {
      if (this.templates !== null)
        return this.templates.filter((temp) => {
          return temp.title.toLowerCase().includes(this.search.toLowerCase());
        });

      return [];
    },
    user() {
      return this.$store.getters.user;
    },
  },
  watch: {
    dialog() {
      if (!this.dialog) {
        this.temp = {
          title: "",
          description: "",
          type: "",
          idTemplate: "",
        };

        this.object = {};
        this.selectTemplate = null;

        this.$refs.form.resetVal();
        this.dialog = false;
      }
    },
  },
  created() {
    // if (this.$store.getters.templates == null) {
    this.$store.dispatch("getTemplates");
    // }
  },
};
</script>

<style scoped>
.titleText {
  font-size: 40px;
  font-weight: 300;
}
.dialog-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  color: #000000;
}
.card {
  border: 1px solid rgb(201, 201, 201);
  padding: 30px;
  height: 250px;
}
.card-title {
  font-size: 25px;
  color: #f9a826;
  margin: 0px 0px 10px 0px;
}
.card-text-box {
  margin: 0px 0px 0px 30px;
}
.dialog-scroll::-webkit-scrollbar {
  width: 9px;
}
/* Track */
.dialog-scroll::-webkit-scrollbar-track {
  background: none;
}
/* Handle */
.dialog-scroll::-webkit-scrollbar-thumb {
  background: #ffcd86;
  border-radius: 2px;
}
/* Handle on hover */
.dialog-scroll::-webkit-scrollbar-thumb:hover {
  background: #fca326;
}

@media screen and (max-width: 960px) {
  .dialog-title {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .card-text-box {
    margin: 20px 0px 0px 0px;
  }
  .card {
    height: auto;
  }
}
</style>